header, nav, main, footer {
    max-width: 70rem;
    margin: auto;
}

header {
    h1 {
        font-size: 2.2rem;
        font-weight: $normalWeight;
    }
}

#theButton {
    display: none;
}

#theNav {
    height: auto;
    display: flex;
    li ul {
        position: absolute;
    }
}

// create for loop to generate grid classes
@for $i from 1 through 12 {
    $w: calc($i/12) * 100%;
    .large-#{$i} {flex-basis: $w;}
  }

.card1 figure {
    position: relative;
    &:hover figcaption {opacity: 1}
    figcaption {
        position: absolute;
        bottom: 0;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
        width: 100%;
        opacity: 0;
        padding: 3rem 0 .5rem 0;
        transition: opacity .5s ease;
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto auto;
}