/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
  background-color: $almostWhite;
  min-width: 320px;
}

#headerWrapper {
  background-color: #FFFFFF;
  color: $darkBlue;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.1));
}

header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  column-gap: $gutter;
  align-items: center;
  padding: .5rem $gutter;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: $normalWeight;
  }
}

#mainWrapper {
  max-width: 70rem;
  margin: auto;
  min-height: 95vh;

  .hero img {
    max-width: 100%;
  }
}

#contentWrapper {
  padding: 0 $gutter;
}

// parent elements
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $gutter;
}


// create for loop to generate grid classes
@for $i from 1 through 12 {
  $w: calc($i/12) * 100%;
  .small-#{$i} {flex-basis: $w;}
}

footer {
  padding: 0.5rem $gutter;
  background-color: #d1d1d1;
  section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 1rem;
      margin: .5rem;
    }
    a {
      color: $darkBlue;
    }
  }

  section.social {
    display: flex;
    justify-content: center;
    a {
      display: block;
      border: solid 1px $primaryBlue;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
    i {
      color: $darkBlue;
    }
    a:hover {
      background-color: #c6daeb;
    }
  }

  section.address {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    margin-top: .5rem;
    color: $darkBlue;
    font-weight: $boldWeight;
  }

  p.legal {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    margin-top: .5rem;
  }
}

// card one
.card1 {
  figure {
    margin: 1rem 0;
    border-radius: 6px;
    overflow: hidden;
    img {width: 100%; height: auto; display: block;}
    figcaption {
      padding: .5rem;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: $boldWeight;
      text-align: center;
      background: $primaryBlue;
      color: $almostWhite;
    }
  }
}