$primaryBlue: #376996;
$lightBlue: #6290c8;
$darkBlue: #1d3461;
$mutedBlue: #829cbc;
$fontColor: #222222;
$almostWhite: #eeeeee;

$defaultFont: "Montserrat", serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;